.morris-hover {
position:absolute;
z-index:1000
}
.morris-hover.morris-default-style {
padding:4px 12px;
background:rgba(255,255,255,1);
border:solid 2px rgba(230,230,230,1);
}
.morris-hover.morris-default-style .morris-hover-row-label {
font-weight:bold;
margin:0.25em 0
}
.morris-hover.morris-default-style .morris-hover-point {
white-space:nowrap;
margin:0.1em 0
}