

.box-right {
  font-size:25px;
  font-weight:bold;
}

.alert {
  padding: 5px 15px;
}

.page-header {
  margin-top: 0;
}

/* Form Validation on Select 2 */
#select2Form .form-control-feedback {
    /* To make the feedback icon visible */
    z-index: 100;
}


/* FOOTER */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
.footer .container {
  padding: 15px 0;
}
.footer .fa-heart {
  color: #d00;
}